/dist/
/nbproject/private/
/build/
/Java/HealthcareAIAssistant/nbproject/private/
nbproject/project.properties
nbproject/project.properties
*.properties
/DTRuleEngine/nbproject/private/
/DTRuleEngine/build/
/DTRuleEngine/dist/
/DTRulesResources/DTRuleEngine/build/
/DTRulesResources/DTRuleEngine/dist/
/DTRulesResources/CompilerUtils/nbproject/private/
/DTRulesResources/CompilerUtils/build/
/DTRulesResources/CompilerUtils/dist/
/DTRulesResources/EL/nbproject/private/
/DTRulesResources/EL/build/
/DTRulesResources/EL/dist/
/DTRulesResources/DTRules2NLP/nbproject/private/
/DTRulesResources/DTRules2NLP/dist/
/DTRulesResources/DTRules2NLP/build/
/DTRulesResources/DTRuleEngine/nbproject/private/